body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    background: #FFD166;
}

#calendar {
    max-width: 800px;
    margin:50px;
    background: white;
    border-radius: 15px;
    padding: 25px;
}
.container {
    align-items: center;
    align-content: center;
    text-align: center;
}